[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RMSD"]
	path = RMSD
	url = https://github.com/kazwd2008/rmsd
[submodule "RMSDp"]
	path = RMSDp
	url = https://github.com/kazwd2008/rmsdp
[submodule "robRatio"]
	path = robRatio
	url = https://github.com/kazwd2008/robratio
